.box{
   background-image: url(../img/firs-page-background.png);
   background-color: white;
   height: 800px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
/* burger menu */
.movi-size{
    margin-left: 95%;
    margin-top: 2%;
    position: absolute;
}
.dropbtn {
    background-color: #3498DB;
    font-size: 16px;
    border: none;
    cursor: pointer;
}  
.dropbtn{
    width: 35px;
    height: 6px;
    background-color: black;
    margin: 2px 0;
} 
.icon-size{
    margin-left: 4px;
    color: #7F7F7F;
    margin-top: 20px;
}
.icon-size:hover{
    color: #D63C37;
}
.icon-size:nth-child(2){
    margin-left: 6px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 35px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {}
.show {display: block;}

/* burger menu */

.text1{
    position: absolute;
    bottom: 45%;
    left: 19%;
    font-size: 48px;
    align-items: center;
}
.text2{
    color: #D63C37;
}
.text3{
    position: absolute;
    font-size: 18px;
    bottom: 35%;
    left: 12%;
}
.text4{
    position: absolute;
    font-size: 18px;
    bottom: 31%;
    left: 12%;
}
.text5{
    position: absolute;
    font-size: 18px;
    bottom: 27%;
    left: 45.5%;
}
/* page2 */
.page2photo{
    margin-top: 250px;
    height: 700px;
    margin-left: 150px;
}
.text-title{
    font-size: 36px;
    color: #333333;
}
.text-title-red{
    color: #D63C37;
    text-decoration: underline;
}
.page2-text1{
    font-size: 18px;
    width: 450px;
    color: #666666;
    margin-top: 50px;
    margin-left: 100px;
    line-height: 28px;
}
.far{
    margin-left: 50px;
    margin-top: 50px;
    color: #D63C37;
}
.page2-icon-star-text{
    color: #D63C37;
    font-size: 18px;
    margin-left: 28px;
    }
.page2-text2{
    font-size: 18px;
    width: 450px;
    color: #666666;
    margin-left: 100px;
    line-height: 28px;
    margin-top: 5px;
} 
.page2-icon-star-text2{
    color: #D63C37;
    font-size: 18px;
    margin-left: 28px;
}
.page2-text3{
    font-size: 18px;
    width: 450px;
    color: #666666;
    margin-left: 100px;
    line-height: 28px;
    margin-top: 5px;
}
.page2-text{
    float: right;
    margin-top: 20px;
    margin-right: 120px;
}
.page2photo{
    float: left;
}
/* page2 */