@font-face {
    font-family: 'caladeabold';
    src: url('../fonts/caladeabold.eot');
    src: url('../fonts/caladeabold.eot') format('embedded-opentype'),
         url('../fonts/caladeabold.woff2') format('woff2'),
         url('../fonts/caladeabold.woff') format('woff'),
         url('../fonts/caladeabold.ttf') format('truetype'),
         url('../fonts/caladeabold.svg#caladeabold') format('svg');
}
@font-face {
    font-family: 'AileronRegular';
    src: url('../fonts/AileronRegular.eot');
    src: url('../fonts/AileronRegular.eot') format('embedded-opentype'),
         url('../fonts/AileronRegular.woff2') format('woff2'),
         url('../fonts/AileronRegular.woff') format('woff'),
         url('../fonts/AileronRegular.ttf') format('truetype'),
         url('../fonts/AileronRegular.svg#AileronRegular') format('svg');
}